/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

main,
footer,
.divHeader {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}


header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

.divHeader h1 {
	text-align: left;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

li a:hover {
	color: #B1663C;
}

a {
	text-decoration: none;
}

a :focus  {
	text-decoration: none;
}

a :active  {
	text-decoration: none;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	width: 80%;
	margin: auto;
	margin-top: 10%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/*Bouttons filtre*/

.Bouton-Filter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
	margin-top: 40px;
}

button {
	border: 1px solid #1D6154;
	border-radius: 60px;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #1D6154;
	text-align: center;
	margin-left: 10px;
	background-color: white;
	padding: 10px;
}


.ConexionBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40%;
	margin: auto;
	text-align: left;
}


.ConexionBox h2 {
	text-align: center;
}

.ConexionBox p {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #3D3D3D;
}

.ConexionBox a {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-decoration-line: underline;
	color: black;
	margin-bottom: 379px;
	align-self: center;
}

#email{
	margin-bottom: 30px;
}

#password,
.ConexionBox h2 {
	margin-bottom: 37px;
}

.Boutton-Send-Id {
	margin-bottom: 28px;
	background-color:#1D6154 ;
	width: 179px;
	align-self: center;
	text-align: center;
}

.Boutton-Send-Id p {
	color: #FFFFFF;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	align-self: center;
}

#password,
#email {
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
	height: 50px;
}

.Modifier-Image {
	margin-top: 1em;
	display: flex;
	flex-direction: row;
	visibility: hidden;
	margin-left: 10%;
}

/*Mode édition*/

header {
	display: flex;
	flex-direction: column;
}

.divHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	width: 100%;
}

.editMode {
	background-color: black;
	width: 100%;
	height: 59px;
	max-width: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 0px;
	margin-bottom: 30px;
	visibility: hidden;
	position: absolute;
	margin-left: 0%;
}


.editMode p {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #FFFFFF;
	margin-right: 10px;
}

.editMode i {
	color: white;
	background-color: black;
	margin-right: 8px;
}

#Boutton-Publier-Changements {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #000000;
	padding: 8px 15px;
}

.Message-Erreur {
	margin-bottom: 20px;
	align-self: center;
	display: none;
}


i {
	color: #000000;
}

#Logout {
	display: none;
}

#Modale {
	display: none;
	margin-left: 20px;
}

.Projets {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-content: center;
	
}

.Projets p,
.Projets i {
	margin-bottom: 2em;
}

.Modale-link {
	margin-left: 10px;
}

/*Modale */

#openModale {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	position: fixed;
}

.Lien-Open-Modale {
	display: none;
}

#titlemodal {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	color: #000000;
}

.Modale-Wrap {
	width: 50%;
	height: auto;
	background-color: #FFFFFF;
	border-radius: 10px;
	/*max-height: 750px;*/
	min-width: 250px;
}

.Modal-Close {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 2em;
	margin-right: 2em;
	margin-top: 2em;
	height: 2px;
}

.Button-Modale {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.galeriePhotoModale {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border-bottom: 1px solid #B3B3B3;
	width: 75%;
	margin-left: 13%;
	margin-bottom: 2em;
	align-items: center;
}

.Ajout-Button-Modale {
	color: #FFFFFF;
	font-family: 'syne';
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	background-color: #1D6154;
	border: 1px solid #1D6154;
	width: 200px;
	border-radius: 60px;
	padding: 0.5em 0.3em 0.5em 0.3em;
	margin-bottom: 1em;
	cursor: pointer;
}

.Supprimer-Button-Modale {
	color: #D65353;
	margin-bottom: 30px;
}

/*Inside Modale*/

.Images-Modale {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin-bottom: 10px;
}

.divIcon {
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: end;
}

.divIcon a {
	background-color: #000000;
	border-radius: 2px;
	margin-top: 7%;
	margin-right: 5%;
}

.divIcon i {
	padding: 2px;
	border-radius: 5px;
}

.fa-trash-can,
.fa-arrows-up-down-left-right {
	color: white;
	background-color: #000000;
}

.fa-arrows-up-down-left-right {
	margin-right: 10%;
}

.fa-arrow-left-long {
	margin-left: 5%;
}


.Modale-Wrap h2 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	color: #000000;
}


/*Modale page 2*/

.Buttons-Navigation-Modale {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2em;
	margin-right: 2em;
	margin-top: 2em;
	height: 2px;
}

.Ajout-Photos-Modale{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 75%;
	margin-left: 13%;
	background-color: #E8F1F6;
	border-radius: 3px;
	margin-bottom: 10px;
}

.fa-image {
	color: #B9C5CC;
	background-color: #E8F1F6;
}

.Ajout-Photos-Modale input{
	color:#306685 ;
	background-color: #CBD6DC;
	border-color: #CBD6DC;
	box-shadow: none;
	padding: 10px 5px;
	border-style: none;
	margin-bottom: 5px;
	margin-top: 0px;
}

.Ajout-Photos-Modale i {
	margin-top: 20px;
	margin-bottom: 20px;
}

.Ajout-Photos-Modale p {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 0px;
}

.Infos-Photos-Modale {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 75%;
	margin-left: 13%;
}

.Infos-Photos-Modale input,
.Infos-Photos-Modale select {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border-style: none;
	margin-top: 5px;
	margin-bottom: 15px;
	height: 25px;
}

.Infos-Photos-Modale #valider {
	background: #A7A7A7;
	border-radius: 60px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.Border {
	border-bottom: 1px solid #B3B3B3;
	margin-top: 15px ;
	margin-bottom: 15px;
}

.Infos-Photos-Modale #valider:hover {
	background-color: #1D6154;
}

/*détails*/

#Login {
	margin-right: -20px;
}

.divHeader a:hover{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

.divHeader a {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

.Image-Add {
	width: 40% ;
	object-fit: contain;
}

#openModale,
.Modale-Add {
	display: none;
}

#strong {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

.Modale-link p{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #000000;
}

.Modale-link p:active{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #000000;
}

#Boutton-Publier-Changements:hover {
	background-color: #1D6154;
	color: white;
}